<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.system.mapper.SysCodeRuleDetailMapper">

    <select id="listRuleCodeDetail" resultType="com.yr.system.domain.entity.SysCodeRuleDetail">
        SELECT d.*
        FROM sys_code_rule scr
                 JOIN sys_code_rule_line l
                      ON scr.rule_id = l.rule_id AND l.level_code = #{levelCode} AND l.level_value = #{levelValue} AND
                         l.enabled_flag = '1'
                 JOIN sys_code_rule_detail d ON l.rule_line_id = d.rule_line_id
        WHERE scr.rule_code = #{ruleCode}
        ORDER BY d.order_seq ASC
    </select>

    <update id="updateSeqNumber">
        UPDATE sys_code_rule_detail
        SET current_value = #{currentValue},
            reset_date    = #{resetDate}
        WHERE rule_detail_id = #{ruleDetailId}
    </update>

</mapper>
