<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yr.system.mapper.SysDutyMapper">

    <select id="selectDescendants" resultType="com.yr.system.domain.entity.SysDuty">
        SELECT id,
               parent_id,
               ancestors,
               duty_code,
               duty_name,
               order_num,
               org_id,
               create_at,
               create_by,
               update_at,
               update_by,
               object_version_number
        FROM sys_duty
        WHERE CONCAT(',', ancestors, ',') LIKE CONCAT('%,', #{dutyId}, ',%')
    </select>

</mapper>
