<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.system.mapper.SysFileMapper">

    <!--
        @file 文件 Mapper，统一文件展示字段与筛选字段语义
        @author PopoY
        @date 2026-03-24
    -->

    <select id="pageByCondition" resultType="com.yr.system.domain.entity.SysFile">
        SELECT sf.`id`, sf.`attachment_id`, sf.`file_path`, sf.`file_size`, sf.`file_type`, sf.`org_id`, sf.`create_at`,
        sf.`create_by`, sf.`update_at`, sf.`update_by`, sf.`object_version_number`,
        sac.leaf_code,
        sac.category_name,
        sac.allowed_file_type,
        sa.attach_name as fileName,
        sa.business_id,
        sa.business_type
        FROM sys_attach_category sac
        JOIN sys_attachment sa ON sac.id = sa.category_id
        JOIN sys_file sf ON sa.id = sf.attachment_id
        <where>
            <if test="params.attachCategoryId != null">
                AND sac.id = #{params.attachCategoryId}
            </if>
            <if test="params.leafCode != null and params.leafCode != ''">
                AND sac.leaf_code = #{params.leafCode}
            </if>
            <if test="params.businessId != null">
                AND sa.business_id = #{params.businessId}
            </if>
            <if test="params.fileName != null and params.fileName != ''">
                <bind name="fileNameLike" value="'%' + params.fileName + '%'"/>
                AND sa.attach_name LIKE #{fileNameLike}
            </if>
            <if test="params.businessType != null and params.businessType != ''">
                AND sa.business_type = #{params.businessType}
            </if>
        </where>
        ORDER BY create_at DESC
    </select>

</mapper>
