<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.system.mapper.SysLovTypeMapper">

    <resultMap type="SysLovType" id="SysLovTypeResult">
        <result property="lovId" column="lov_id"/>
        <result property="lovName" column="lov_name"/>
        <result property="lovType" column="lov_type"/>
        <result property="url" column="url"/>
        <result property="valueField" column="value_field"/>
        <result property="displayField" column="display_field"/>
        <result property="parentField" column="parent_field"/>
        <result property="pageSize" column="page_size"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createAt" column="create_at"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateAt" column="update_at"/>
    </resultMap>

    <sql id="selectLovTypeVo">
        select lov_id,
               lov_name,
               lov_type,
               url,
               value_field,
               display_field,
               parent_field,
               page_size,
               status,
               remark,
               create_by,
               create_at,
               update_by,
               update_at
        from sys_lov_type
    </sql>

    <select id="selectLovTypeList" parameterType="SysLovType" resultMap="SysLovTypeResult">
        <include refid="selectLovTypeVo"/>
        <where>
            <if test="lovName != null  and lovName != ''">and lov_name like concat('%', #{lovName}, '%')</if>
            <if test="lovType != null  and lovType != ''">and lov_type = #{lovType}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
        </where>
    </select>

    <select id="selectLovTypeById" parameterType="Long" resultMap="SysLovTypeResult">
        <include refid="selectLovTypeVo"/>
        where lov_id = #{lovId}
    </select>

    <insert id="insertLovType" parameterType="SysLovType">
        insert into sys_lov_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lovName != null and lovName != ''">lov_name,</if>
            <if test="lovType != null and lovType != ''">lov_type,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="valueField != null and valueField != ''">value_field,</if>
            <if test="displayField != null and displayField != ''">display_field,</if>
            <if test="parentField != null and parentField != ''">parent_field,</if>
            <if test="pageSize != null">page_size,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_at
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lovName != null and lovName != ''">#{lovName},</if>
            <if test="lovType != null and lovType != ''">#{lovType},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="valueField != null and valueField != ''">#{valueField},</if>
            <if test="displayField != null and displayField != ''">#{displayField},</if>
            <if test="parentField != null and parentField != ''">#{parentField},</if>
            <if test="pageSize != null">#{pageSize},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateLovType" parameterType="SysLovType">
        update sys_lov_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="lovName != null and lovName != ''">lov_name = #{lovName},</if>
            <if test="lovType != null and lovType != ''">lov_type = #{lovType},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="valueField != null and valueField != ''">value_field = #{valueField},</if>
            <if test="displayField != null and displayField != ''">display_field = #{displayField},</if>
            <if test="parentField != null and parentField != ''">parent_field = #{parentField},</if>
            <if test="pageSize != null">page_size = #{pageSize},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_at = sysdate()
        </trim>
        where lov_id = #{lovId}
    </update>

    <select id="checkLovTypeUnique" parameterType="String" resultMap="SysLovTypeResult">
        <include refid="selectLovTypeVo"/>
        where lov_type = #{lovType} limit 1
    </select>

    <select id="selectLovByType" parameterType="String" resultMap="SysLovTypeResult">
        <include refid="selectLovTypeVo"/>
        where lov_type = #{lovType} and status = 0
    </select>
</mapper>
