<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.system.mapper.SysLovFieldMapper">

    <resultMap type="SysLovField" id="SysLovFieldResult">
        <result property="fieldId" column="field_id"/>
        <result property="lovId" column="lov_id"/>
        <result property="fieldName" column="field_name"/>
        <result property="fieldLabel" column="field_label"/>
        <result property="fieldType" column="field_type"/>
        <result property="dictType" column="dict_type"/>
        <result property="orderNum" column="order_num"/>
        <result property="isQuery" column="is_query"/>
        <result property="isCol" column="is_col"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createAt" column="create_at"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateAt" column="update_at"/>
    </resultMap>

    <sql id="selectLovFieldVo">
        select field_id,
               lov_id,
               field_name,
               field_label,
               field_type,
               dict_type,
               order_num,
               is_query,
               is_col,
               status,
               remark,
               create_by,
               create_at,
               update_by,
               update_at
        from sys_lov_field
    </sql>

    <select id="selectLovFieldList" parameterType="SysLovField" resultMap="SysLovFieldResult">
        <include refid="selectLovFieldVo"/>
        <where>
            <if test="lovId != null">and lov_id = #{lovId}</if>
            <if test="fieldName != null  and fieldName != ''">and field_name like concat('%', #{fieldName}, '%')</if>
            <if test="fieldLabel != null  and fieldLabel != ''">and field_label like concat('%', #{fieldLabel}, '%')
            </if>
            <if test="status != null  and status != ''">and status = #{status}</if>
        </where>
    </select>

    <select id="selectLovFieldById" parameterType="Long" resultMap="SysLovFieldResult">
        <include refid="selectLovFieldVo"/>
        where field_id = #{fieldId}
    </select>

    <insert id="insertLovField" parameterType="SysLovField">
        insert into sys_lov_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lovId != null">lov_id,</if>
            <if test="fieldName != null and fieldName != ''">field_name,</if>
            <if test="fieldLabel != null and fieldLabel != ''">field_label,</if>
            <if test="fieldType != null and fieldType != ''">field_type,</if>
            <if test="dictType != null and dictType != ''">dict_type,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="isQuery != null">is_query,</if>
            <if test="isCol != null">is_col,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_at
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lovId != null">#{lovId},</if>
            <if test="fieldName != null and fieldName != ''">#{fieldName},</if>
            <if test="fieldLabel != null and fieldLabel != ''">#{fieldLabel},</if>
            <if test="fieldType != null and fieldType != ''">#{fieldType},</if>
            <if test="dictType != null and dictType != ''">#{dictType},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="isQuery != null">#{isQuery},</if>
            <if test="isCol != null">#{isCol},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateLovField" parameterType="SysLovField">
        update sys_lov_field
        <trim prefix="SET" suffixOverrides=",">
            <if test="lovId != null">lov_id = #{lovId},</if>
            <if test="fieldName != null and fieldName != ''">field_name = #{fieldName},</if>
            <if test="fieldLabel != null and fieldLabel != ''">field_label = #{fieldLabel},</if>
            <if test="fieldType != null and fieldType != ''">field_type = #{fieldType},</if>
            dict_type = #{dictType},
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="isQuery != null">is_query = #{isQuery},</if>
            <if test="isCol != null">is_col = #{isCol},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_at = sysdate()
        </trim>
        where field_id = #{fieldId}
    </update>

    <delete id="deleteLovFieldById" parameterType="Long">
        delete
        from sys_lov_field
        where field_id = #{fieldId}
    </delete>

    <delete id="deleteLovFieldByIds" parameterType="String">
        delete from sys_lov_field where field_id in
        <foreach item="fieldId" collection="array" open="(" separator="," close=")">
            #{fieldId}
        </foreach>
    </delete>

    <select id="selectLovFieldListByLovId" parameterType="Long" resultMap="SysLovFieldResult">
        <include refid="selectLovFieldVo"/>
        where lov_id = #{lovId} and status = 0
    </select>
</mapper>
