<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.system.mapper.SysMessageBodyReceiverMapper">

    <!--
        @file 消息接收记录 Mapper，统一发送人与用户表的关联语义
        @author PopoY
        @date 2026-03-24
    -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMessageBodyReceiverMap" type="com.yr.system.domain.entity.SysMessageBodyReceiver">
        <id column="id" property="id"/>
        <result column="msg_id" property="msgId"/>
        <result column="send_status" property="sendStatus"/>
        <result column="receive_status" property="receiveStatus"/>
        <result column="msg_to" property="msgTo"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="remark" property="remark"/>
        <result column="object_version_number" property="objectVersionNumber"/>
    </resultMap>

    <!--关联查询-->
    <resultMap extends="BaseResultMessageBodyReceiverMap" id="RelatedQueryMessageBody"
               type="com.yr.system.domain.entity.SysMessageBodyReceiver">
        <result column="msg_title" property="title"/>
        <result column="msg_name" property="name"/>
        <result column="msg_from" property="formUser"/>
        <result column="user_name" property="userName"/>
        <result column="nick_name" property="nickName"/>
        <result column="msg_body" property="msgBody"/>
        <result column="receive_time" property="receiveTime"/>
        <!--        <association select="com.yr.system.mapper.SysMessageBodyMapper.findById"-->
        <!--                     column="msg_id"-->
        <!--                     property="sysMessageBody"/>-->
        <!--                <association select="com.yr.system.service.ISysMessageBodyService.getById"-->
        <!--                             column="msg_id"-->
        <!--                             property="sysMessageBody"/>-->
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , msg_id, send_status, receive_status, msg_to, create_at, update_at, status, create_by, update_by, remark, object_version_number
    </sql>

    <sql id="ReceiverJoinMessageBodySql">
        select smbr.*,
               smb.msg_title,
               smb.msg_name,
               smb.msg_from,
               smb.msg_body,
               su.user_id,
               su.user_name,
               su.nick_name
        from sys_message_body_receiver smbr
                 left join sys_message_body smb
                           on smbr.msg_id = smb.id
                 left join sys_user su
                           on smb.msg_from = su.user_name
    </sql>

    <select id="pageList" resultMap="RelatedQueryMessageBody">
        <include refid="ReceiverJoinMessageBodySql"/>
        <where>
            <if test="null != request">
                <if test="null != request.receiveStatus and '' != request.receiveStatus">
                    and smbr.receive_status = #{request.receiveStatus}
                </if>

                <if test="null != request.toUserId and request.toUserId > -1">
                    and smbr.msg_to= #{request.toUserId}
                </if>

                <if test="null != request.title and '' != request.title">
                    and smb.msg_title like concat('%',#{request.title},'%')
                </if>

                <if test="null != request.name and '' != request.name">
                    and smb.msg_name like concat('%',#{request.name},'%')
                </if>
            </if>
        </where>
        order by smbr.create_at desc
    </select>

    <select id="getReceiverMessage" resultMap="RelatedQueryMessageBody">
        <include refid="ReceiverJoinMessageBodySql"/>

        where smbr.id = #{id}
    </select>

</mapper>
