<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.system.mapper.SysReceiveGroupMapper">

    <!--
        @file 接收组 Mapper，收敛分页查询 SQL 拼装语义
        @author PopoY
        @date 2026-03-24
    -->

    <!-- 通用查询映射结果 -->
    <resultMap id="ReceiveGroupBaseMap" type="com.yr.system.domain.entity.SysReceiveGroup">
        <id column="id" property="id"/>
        <result column="re_code" property="reCode"/>
        <result column="re_mode" property="reMode"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="object_version_number" property="objectVersionNumber"/>
    </resultMap>

    <resultMap id="ReceiveGroupObjectListMap" type="com.yr.system.domain.entity.SysReceiveGroup">
        <collection select="com.yr.system.mapper.SysReceiveGroupObjectMapper.findByReGroupCode"
                    column="id"
                    property="groupObjectList"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , re_code, re_mode, remark, status, create_at, update_at, create_by, update_by
    </sql>
    <select id="pageList" resultMap="ReceiveGroupBaseMap">
        select
        <include refid="Base_Column_List"/>
        from sys_receive_group
        <where>
            <if test="null != request.reCode and request.reCode != ''">
                and re_code = #{request.reCode}
            </if>

            <if test="null != request.reMode and request.reMode != ''">
                and re_mode like concat('%', #{request.reMode}, '%')
            </if>

            <if test="null != request.status and request.status != '' and request.status != '-1'">
                and status = #{request.status}
            </if>
        </where>
        order by create_at desc
    </select>


    <select id="getMaxId" resultType="java.lang.Long">
        select max(id)
        from sys_receive_group
    </select>

    <select id="getReceiveGroupList" resultMap="ReceiveGroupObjectListMap">
        select
        <include refid="Base_Column_List"/>
        from
        sys_receive_group
        where
        re_code = #{code}
    </select>

</mapper>
