<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.system.mapper.SysReceiveGroupObjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="GroupObjectMap" type="com.yr.system.domain.entity.SysReceiveGroupObject">
        <id column="id" property="id"/>
        <result column="re_group_id" property="reGroupId"/>
        <result column="re_object_id" property="reObjectId"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="re_name" property="name"/>
        <result column="object_version_number" property="objectVersionNumber"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , re_group_id, re_object_id, create_at, update_at, create_by, update_by, remark, re_name,status
    </sql>


    <resultMap id="GroupObjectReMap" extends="GroupObjectMap" type="com.yr.system.domain.vo.SysReceiveGroupObjectVo">
        <association select="com.yr.system.mapper.SysReceiveGroupMapper.findById"
                     column="re_group_id"
                     property="sysReceiveGroup"/>
    </resultMap>


    <select id="findByReGroupCode" resultMap="GroupObjectMap">
        select
        <include refid="Base_Column_List"/>
        from sys_receive_group_object
        where
        re_group_id = #{reGroupId}
    </select>

</mapper>
