<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yr.system.mapper.SysUserRankMapper">

    <select id="getUserRankByUserId" resultType="com.yr.system.domain.entity.SysUserRank">
        SELECT sur.* FROM sys_user_rank sur
        WHERE sur.user_id = #{userId}
        <if test="orgId != null">
            AND EXISTS (select sr.id from sys_rank sr where sr.id = sur.rank_id and sr.org_id = #{orgId})
        </if>
    </select>

    <select id="selectUserRankByUserIdAndOrgId" resultType="com.yr.system.domain.entity.SysRank">
        SELECT sr.rank_name
        FROM sys_rank sr
                 JOIN sys_user_rank sur ON sr.id = sur.rank_id AND sur.user_id = #{userId}
        WHERE sr.org_id = #{orgId}
    </select>
</mapper>
