<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.system.mapper.SysUserDprMapper">

    <select id="listUserByDeptId" resultMap="com.yr.system.mapper.SysUserMapper.SysUserResult">
        SELECT su.*, sd.*
        FROM sys_user su
                 JOIN sys_user_dept sud on su.user_id = sud.user_id
                 JOIN sys_dept sd on sud.dept_id = sd.dept_id
        WHERE sd.dept_id = #{deptId}
    </select>

    <select id="listUserByDeptCode" resultMap="com.yr.system.mapper.SysUserMapper.SysUserResult">
        SELECT su.*, sd.*
        FROM sys_user su
                 JOIN sys_user_dept sud on su.user_id = sud.user_id
                 JOIN sys_dept sd on sud.dept_id = sd.dept_id
        WHERE sd.dept_code = #{deptCode}
    </select>

    <select id="listUserByDeptIdWithAncestors" resultMap="com.yr.system.mapper.SysUserMapper.SysUserResult">
        SELECT su.*, sd.*
        FROM sys_user su
                 JOIN sys_user_dept sud on su.user_id = sud.user_id
                 JOIN sys_dept sd on sud.dept_id = sd.dept_id
        WHERE sd.dept_id = #{deptId}
           OR find_in_set(sd.dept_id, (select ancestors from sys_dept where dept_id = #{deptId} Limit 1));
    </select>

    <select id="listUserByDeptIdWithDescenders" resultMap="com.yr.system.mapper.SysUserMapper.SysUserResult">
        SELECT su.*, sd.*
        FROM sys_user su
                 JOIN sys_user_dept sud on su.user_id = sud.user_id
                 JOIN sys_dept sd on sud.dept_id = sd.dept_id
        WHERE sd.dept_id = #{deptId}
           OR find_in_set(#{deptId}, sd.ancestors);
    </select>

    <select id="listUserByDeptCodeWithAncestors" resultMap="com.yr.system.mapper.SysUserMapper.SysUserResult">
        SELECT su.*, sd.*
        FROM sys_user su
                 JOIN sys_user_dept sud on su.user_id = sud.user_id
                 JOIN sys_dept sd on sud.dept_id = sd.dept_id
        WHERE sd.dept_code = #{deptCode}
           OR find_in_set(sd.dept_id, (select ancestors from sys_dept where dept_code = #{deptCode} Limit 1));
    </select>

    <select id="listUserByDeptCodeWithDescenders" resultMap="com.yr.system.mapper.SysUserMapper.SysUserResult">
        SELECT su.*, sd.*
        FROM sys_user su
                 JOIN sys_user_dept sud on su.user_id = sud.user_id
                 JOIN sys_dept sd on sud.dept_id = sd.dept_id
        WHERE sd.dept_code = #{deptCode}
           OR find_in_set(
                (select dept_id from sys_dept where dept_code = #{deptCode} limit 1)
            , sd.ancestors);
    </select>
</mapper>
